In [41]:
!ls

README.md                dsc_phase_1_project_v2_3
Untitled.ipynb           untitled.txt

In [30]:
import pandas as pd

In [43]:
df_bom = pd.read_csv('dsc_phase_1_project_v2_3/zippedData/bom.movie_gross.csv.gz')
df_imdb_basics = pd.read_csv('dsc_phase_1_project_v2_3/zippedData/imdb.title.basics.csv.gz')
df_imdb_ratings = pd.read_csv('dsc_phase_1_project_v2_3/zippedData/imdb.title.ratings.csv.gz')

In [45]:
df_bom.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [47]:
df_imdb_basics.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [48]:
df_imdb_ratings.head()

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21